html, body { background-image: url("Tworzenieszachownicy25x25.png"); } 


/* GŁÓWNA SCENA - Teraz idealnie przygotowana pod mapę i szachownicę */
.scena-piracka {
    position: relative;
    width: 1200px;
    height: 950px;
    border: 20px solid #2b1d14; /* Twoja brązowa ramka zewnętrzna */
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    margin: 20px auto;
    overflow: hidden; /* Upewnia się, że mapa nie wystaje poza zaokrąglone rogi ramki */
    background-image: url("Tworzenieszachownicy25x25.png"); 
}

/* FORMATOWANIE MAPY TŁA */
#mapa {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Dopasowuje obrazek mapy do wymiarów sceny */
    z-index: 1; /* Mapa leży najniżej */
}

/* POZYCJONOWANIE ELEMENTÓW (Wszystkie dostają wyższy z-index, aby leżeć NA mapie) */

#plakat {
    position: absolute;
    z-index: 2;
    height: 60%;    /*  Było 75%  */
    width: auto;
    top: 200px;      /*  Było 7,5%  */
    left: 6.0%;         /*  Było 6.6%  */
    transform: skew(15deg, 5deg);     /*  Było (10deg, 5deg)  */
}

.napis-explorer span {
    display: inline-block;
    font-size: 55px;
    font-weight: bold;
    color: #fbff00;
    text-shadow: 6px 6px 8px #000;
    letter-spacing: 30px;                           /*   Było 25px;    */
    transform-origin: center bottom;   /* Dodajemy punkt kotwiczenia w dolnym środku elementu */
}

/* Każda litera z własnym kątem I przesunięciem w górę */
.napis-explorer span:nth-child(1) { transform: rotate(-40deg) translateY(-10px) translateX(0px); }    /*  Było   rotate(-20deg) translateY(-15px); translateY tworzy krzywą */
.napis-explorer span:nth-child(2) { transform: rotate(-26deg) translateY(-65px) translateX(0px); }     /*  Było   rotate(-15deg) translateY(-20px);  */
.napis-explorer span:nth-child(3) { transform: rotate(-19deg) translateY(-88px) translateX(-7px); }     /*  Było   rotate(-10deg) translateY(-30px);  */
.napis-explorer span:nth-child(4) { transform: rotate(-8deg) translateY(-95px) translateX(-28px); }        /*  Było   rotate(-5deg) translateY(-32px);  */
.napis-explorer span:nth-child(5) { transform: rotate(1deg) translateY(-92px) translateX(-50px); }          /*  Było   rotate(0deg) translateY(-30px);  */
.napis-explorer span:nth-child(6) { transform: rotate(12deg) translateY(-72px) translateX(-67px);   }
.napis-explorer span:nth-child(7) { transform: rotate(22deg) translateY(-40px) translateX(-78px); }
.napis-explorer span:nth-child(8) { transform: rotate(30deg) translateY(15px) translateX(-80px); }


/* POZYCJONOWANIE KONTENERA EXPLORER */
.napis-explorer {   
    position: absolute;
    top: 300px;   /*  Było 180px;  */
    right: 10px;    /*   Było 80px;   */
    z-index: 3;
}


.napis-rejs {
    position: absolute;
    top: 455px;
  left: 470px;
    font-size: 32px;   /*   Było 36px;   */
    font-weight: bold;
    color: #fbff00;
    text-shadow: 6px 6px 8px #000;
    letter-spacing: 18px;
    z-index: 3;
   /* transform: perspective(350px) rotateX(10deg) rotate(10deg);    /*  Było perspective(250px) rotateX(15deg) rotate(10deg);   */
}

.napis-rejs span {
    display: inline-block;
    transform-origin: center bottom;
}

/* Kąty dla dolnej krzywej - odwrócone niż górna */
.napis-rejs span:nth-child(1)  { transform: rotate(55deg) translateY(14px); }    /*  Było transform: rotate(15deg) translateY(15px);   */
.napis-rejs span:nth-child(2)  { transform: rotate(45deg) translateY(48px) translateX(10px); }
.napis-rejs span:nth-child(3)  { transform: rotate(35deg) translateY(74px) translateX(10px); }
.napis-rejs span:nth-child(4)  { transform: rotate(25deg) translateY(94px) translateX(2px); }
.napis-rejs span:nth-child(5)  { transform: rotate(17deg) translateY(109px) translateX(10px); }
.napis-rejs span:nth-child(6)  { transform: rotate(20deg) translateY(120px) translateX(14px);}
.napis-rejs span:nth-child(7)  { transform: rotate(13deg) translateY(126px) translateX(1px); }
.napis-rejs span:nth-child(8)  { transform: rotate(5deg) translateY(127px) translateX(-15px); }
.napis-rejs span:nth-child(9)  { transform: rotate(0deg) translateY(128px) translateX(-21px); }
.napis-rejs span:nth-child(10) { transform: rotate(-4deg) translateY(124px) translateX(-35px); }
.napis-rejs span:nth-child(11) { transform: rotate(-5deg) translateY(121px) translateX(-34px); }
.napis-rejs span:nth-child(12) { transform: rotate(-7deg) translateY(116px) translateX(-35px); }
.napis-rejs span:nth-child(13) { transform: rotate(-11deg) translateY(108px) translateX(-40px); }
.napis-rejs span:nth-child(14) { transform: rotate(-17deg) translateY(93px) translateX(-44px); }
.napis-rejs span:nth-child(15) { transform: rotate(-21deg) translateY(78px) translateX(-48px); }
.napis-rejs span:nth-child(16) { transform: rotate(-28deg) translateY(55px) translateX(-54px); }
.napis-rejs span:nth-child(17) { transform: rotate(-32deg) translateY(31px) translateX(-54px); }
.napis-rejs span:nth-child(18) { transform: rotate(-38deg) translateY(420px) translateX(540px); }

.foto-kapitan { 
    position: absolute;
    top: 50px;        /*  Było 220px;  */
    left: 420px;        /*  Było 510px;  */
    width: 140px;   /*  Było  140px;   */
    height: 170px;   /*  Dodano   */
    border: 8px solid #ef8206;
    border-radius: 20px;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.8);     /*  Dodawanie cienia, jego kierunku i nasycenia    */
    z-index: 2;
}

.foto-czaszka {
    position: absolute;
    top: 310px;       /*  Było 340px;  */
    left: 700px;        /*  Było 680px;  */  
    width: 150px;  height: 200px;
    border: 8px solid #ef8206;
    border-radius: 20px;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.8);     /*  Dodawanie cienia, jego kierunku i nasycenia    */
    z-index: 2;
}

.foto-zaloga {
    position: absolute;
    top: 360px;
    right: 70px;
    width: 130px;
    border: 8px solid #ef8206;
    border-radius: 20px;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.8);     /*  Dodawanie cienia, jego kierunku i nasycenia    */
    z-index: 2;
}

.foto-statek {
    position: absolute;
    bottom: 70px;    /*  Było 120px;  */
    right: 120px;      /*  Było 150px;  */
    width: 180px; height: 200px;
    border: 8px solid #ef8206;
    border-radius: 20px;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.8);     /*  Dodawanie cienia, jego kierunku i nasycenia    */
    z-index: 2;
}

.przycisk-cyrograf {
    position: absolute;
    bottom: 150px;            /*  Było 100px;  */
    left: 500px;                   /*  Było 450px;  */
    display: inline-block;
    padding: 12px 35px;
    background-color: #543614;
    color: #ffd700;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border: 5px solid #ffd700;   /*  Było 3px solid #ffd700;  */
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
    transition: transform 0.2s;
    z-index: 3; /* Przycisk najwyżej, aby dało się go łatwo kliknąć */
}
.przycisk-cyrograf:hover {
   color: #ef8206;            
    border-color: #ef8206;   
    background-color: #fbff00;
    transform: scale(1.1);
}

 /* ==========================================================================
     DEKORACJA: PIRACKI GWÓŹDŹ NA PLAKACIE
   ========================================================================== */
#gwozdz-plakatu {
    position: absolute;
    z-index: 3; /* Musi być wyżej niż plakat (z-index: 2), żeby leżał NA NIM */
    
    /* Pozycjonowanie gwoździa w górnej części plakatu */
    left: 19%; /* Dopasuj te procenty, aby gwóźdź trafił idealnie w środek góry zwoju, było 17%; */
    top: 28.9%;    /*  Było 7%;  */
    
    /* Rozmiar gwoździa dostosowany do skali projektu  */
    width: auto; /*  Było 35px   */
    height: 30px;
    
    /* Delikatny obrót i cień, aby gwóźdź wyglądał realistycznie i trójwymiarowo */
    transform: rotate(90deg);
    filter: drop-shadow(3px -5px 4px rgba(0,0,0,0.6));
}   


